
/* HEADER */
.header__wrapper{
position: relative;
}
.nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;

    
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    
    align-items: center;
    padding-top: 50px;
    
}
.nav__logo{
    padding-left: 15px;
}
.nav__list {
    display: flex;
    column-gap: 100px;
}
.nav__item {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    cursor: pointer;
}

.nav__list a{
    position: relative;
}

.nav__list a.active-page::after,
.nav__list a:focus:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    display: block;
    width: 70%;
    height: 5px;
    border-radius: 20px;
    background-color: var(--white);
}


/* Burger */

/* Отрисовка бургер меню */
.burger{
    position: relative;

    display: none;
    border: 3px solid var(--white);
    border-radius: 3px;
    width: 50px;
    height: 50px;

    color: var(--white);

    transition: border-color 0.3s ease-in-out, transform 0.3s ease-in-out ;
}

.burger__line{
    position: absolute;
    left: 50%;

    width: 30px;
    height: 4px;
    border-radius: inherit;

    background-color: currentColor;

    transform: translateX(-50%);
}

.burger__line:nth-child(1){
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out,  background-color 0.3s ease-in-out ;
    top: 13px;
}

.burger__line:nth-child(2){
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out;
}

.burger__line:nth-child(3){
    bottom: 13px;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out,  background-color 0.3s ease-in-out ;
}

/* Классы для анимации бургер меню */
.burger_active{
    border-color: var(--pink);
    transform: rotate(180deg);
    transition: border-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.burger_active
.burger__line:nth-child(2){
    opacity: 0;
    transition: opacity 0s ease-in-out, ;
}
.burger_active
.burger__line:first-child{
    left: 15%;
    top: 40%;
    background-color: var(--pink);
    transform: rotate(45deg);
    transform-origin: center;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out, background-color 0.3s ease-in-out ;
}

.burger_active
.burger__line:last-child{
    /* bottom: auto; */
    left: 15%;
    top: 40%;
    background-color: var(--pink);
    transform: rotate(-45deg);
    transform-origin: center;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out, background-color 0.3s ease-in-out  ;
}
