/* PROUD */
.proud {
    padding: 127px 0 96px 0;
    background-color: var(--blue);
}

.proud__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 66px;
    gap: 40px;
    align-items: flex-end;
}

.proud__content {
    max-width: 804px
}

.proud__title {
    margin-bottom: 43px;
}

.proud__title::selection {
    color: var(--blue);
    background: var(--white);
}

.prod__descr {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
}

.prod__descr::selection {
    color: var(--blue);
    background: var(--white);
}

.prod__descr:not(:last-child) {
    margin-bottom: 50px;
}

.proud__img {
    max-width: 590px;
    max-height: 460px;
}

.proud__bottom {
    display: flex;
    justify-content: space-between;
    display: flex;
    gap: 20px;
    align-items: flex-end;
}